.add-form {
  width: 90%;
  margin: 1rem auto;
  background-color: rgba(250, 250, 250, 0.3);
  box-shadow: 4px 4px 20px rgba(17, 17, 17, 0.5);
  padding: 0.5rem 2rem 2rem;
  border-radius: 8px;
}

label {
  font-size: 1rem !important;
}

.input-fields {
  gap: 1em;
}

input[type='checkbox'] {
  width: 1.5em;
  cursor: pointer;
}

.btn-add {
  padding: 0.4rem 2.5rem;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 15px;
  background-color: rgba(22, 46, 76, 0.968627451);
}

@media screen and (max-width: '800px') {
  .illustration {
    position: absolute;
    z-index: -111;
  }

  .form-content {
    background-color: rgba(240, 240, 240, 0.4) !important;
    padding: 0.2rem;
  }

  input,
  label {
    font-size: 0.8rem !important;
  }

  input,
  form {
    background-color: rgba(240, 240, 240, 0.4) !important;
    backdrop-filter: blur(2px);
  }
}
